QWidget#centralWgt {
    background-color: #2234b1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

QWidget#backgroundWgt {
    background-color: black;
    border: 0px;
}

QLabel#titleLbl {
    font: 500 22px "Mukta Malar";
    color: #f2f2f2;
}

QLabel#artistLbl {
    font: 400 18px "Mukta Malar";
    color: #9c9c9c;
}

QLabel#commentLbl {
    font: 400 18px "Mukta Malar";
    border: 0px;
    border-top: 3px solid #2234b1;
    color: #9c9c9c;
}
