QWidget#centralWgt {
    background-color: #54bef5;
}

QWidget#backgroundWgt {
    background-color: black;
    border: 0px;
}

QLabel#titleLbl {
    font: 500 22px "Mukta Malar";
    color: #4398c4;
}

QLabel#artistLbl {
    font: 400 18px "Mukta Malar";
    color: #9c9c9c;
}

QLabel#commentLbl {
    font: 400 18px "Mukta Malar";
    border: 0px;
    border-top: 3px solid #54bef5;
    color: #9c9c9c;
}
